<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=no"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Asul:wght@400;700&family=Roboto:wght@300;400;500;700;900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../public/assets/css/requests.css" />
    <script
      src="https://kit.fontawesome.com/681e669534.js"
      crossorigin="anonymous"
    ></script>
    <title>Pizzaria Hot Tomatoes | Histórico de Pedidos</title>
  </head>
  <body>
    <!-- Menu lateral -->
    <div id="mySidenav" class="sidenav">
      <a href="javascript:void(0)" class="closebutton" onclick="closeNav()"
        ><i class="fas fa-times"></i
      ></a>
      <div class="mb-3 p-4 logo-sidenav">
        <p class="text-white">Bem-vindo ao</p>
        <h6 class="logo-font text-white text-center">
          Hot &nbsp;&nbsp; Tomatoes
        </h6>
      </div>
      <div class="menu-items">
        <a href="/home"><i class="fas fa-home"></i> Início</a>
        <a href="/register?id=<%= userUUID %>"><i class="fas fa-users-cog"></i> Conta</a>
        <form method="GET" action="/requests">
          <input type="hidden" name="user" value="<%= userUUID %>" />
          <button type="submit" class="btn btn-danger align-btn-lt">
            <i class="fas fa-history"></i> Histórico de pedidos
          </button>
        </form>
        <form class="mr-sm-2" method="POST" action="/login/logout">
          <button
            type="submit"
            class="btn btn-secondary text-start align-btn-lt"
          >
            <i class="fas fa-power-off"></i> Sair
          </button>
        </form>
      </div>
    </div>
    <!-- Fim do menu lateral -->

    <!-- Banner com logo da página e menus -->
    <div class="banner card bg-dark text-white" id="banner">
      <div class="card-img-overlay">
        <div class="d-flex">
          <button class="btn btn-light mb-5" onclick="openNav()">
            <i class="fas fa-bars"></i> Menu
          </button>
          <form method="GET" action="/cart">
            <input type="hidden" name="user" value="<%= userUUID %>" />
            <button type="submit" class="btn-menu btn btn-danger">
              <i class="fas fa-shopping-cart"></i>
            </button>
          </form>
        </div>
        <h5 class="card-title logo-font text-center">
          Hot &nbsp;&nbsp; Tomatoes
        </h5>
      </div>
    </div>
    <!-- Fim do banner com logo da página e menus -->

    <!-- Histórico de pedidos -->
    <div class="card border-0 mb-3">
      <h4 class="card-header bg-white">Histórico de pedidos</h4>
    </div>

    <% if (requests.length > 0) { %>
    <div class="container mt-2">
      <% for(request of requests) { %>
      <div class="card shadow rounded mb-2">
        <div class="card-header">
          <div class="d-flex justify-content-end">
            <p class="text-muted date-header"><%= request.request_date %></p>
          </div>
        </div>
        <div class="card-body">
          <h5 class="card-title">Pedido #<%= request.id %></h5>
          <div class="d-flex align-items-center justify-content-between">
            <p class="text-muted">Valor:</p>
            <p class="total-value">R$<%= request.total %></p>
          </div>
        </div>
        <div class="card-footer">
          <form action="/requests/details" method="GET">
            <input type="hidden" name="request_id" value="<%= request.id %>" />
            <input type="hidden" name="userUUID" value="<%= userUUID %>" />
            <button type="submit" class="btn btn-primary">Detalhes</button>
          </form>
        </div>
      </div>
      <% } %>
    </div>
    <% } %> <% if (requests.length == 0) { %>
    <div class="container text-muted empty-history mt-5">
      <div class="d-flex flex-column align-items-center">
        <i class="fas fa-exclamation-triangle"></i>
        <h5>Não há histórico de pedidos disponíveis em sua conta.</h5>
        <a href="/home" class="btn btn-primary mt-3">Ir ao cardápio</a>
      </div>
    </div>
    <% } %>
    <script
      type="text/javascript"
      src="../public/assets/js/general.js"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
      integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
      integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
