<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=no"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Asul:wght@400;700&family=Roboto:wght@300;400;500;700;900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../public/assets/css/requests.css" />
    <script
      src="https://kit.fontawesome.com/681e669534.js"
      crossorigin="anonymous"
    ></script>
    <title>Pizzaria Hot Tomatoes | Detalhes do pedido</title>
  </head>
  <body>
    <!-- Banner com logo da página e menus -->
    <div class="banner card bg-dark text-white" id="banner">
      <div class="card-img-overlay">
        <div class="d-flex">
          <form method="GET" action="/requests">
            <input type="hidden" name="user" value="<%= userUUID %>" />
            <button type="submit" class="btn-menu btn btn-danger mb-5">
              <i class="fas fa-arrow-left"></i>
            </button>
          </form>
        </div>
        <h5 class="card-title logo-font text-center">
          Hot &nbsp;&nbsp; Tomatoes
        </h5>
      </div>
    </div>
    <!-- Fim do banner com logo da página e menus -->

    <!-- Histórico de pedidos -->
    <div class="card border-0 mb-3">
      <h4 class="card-header bg-white">Itens do pedido #<%= requestId %> </h4>
    </div>

    <% if (requestItems.length > 0) { %>
        <div class="container mt-2">
        <% for(requestItem of requestItems) { %>
          <div class="card shadow rounded mb-4" id="request-items">
            <div
              class="card-body d-flex justify-content-between align-items-center"
            >
              <div>
                <h5 class="card-title">
                  <%= requestItem.name %>
                  <span class="text-muted">
                    <% if (requestItem.size) { %>
                      (<%= requestItem.size %>) 
                    <% } %>
                    <%= requestItem.amount %>x
                  </span>
                </h5>
                <p class="card-text"><%= requestItem.description %></p>
                <p class="text-muted">Preço unitário: R$ <%= requestItem.current_price %></p>
              </div>
            </div>
            <% if (requestItem.observations) { %>
            <div class="card-footer">
              <h5>Observações:</h5>
              <p><%= requestItem.observations %></p>
            </div>
            <% } %>
          </div>
      <% } %>
    <% } %>
    <script
      type="text/javascript"
      src="../public/assets/js/general.js"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
      integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
      integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
