<!DOCTYPE html>
<html lang="pt-br" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=no"
    />
    <!-- BOOTSTRAP -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <!-- GOOGLE FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Asul:wght@400;700&family=Roboto:wght@300;400;500;700;900&display=swap"
      rel="stylesheet"
    />
    <!-- INTERN CSS -->
    <link rel="stylesheet" href="../public/assets/css/login.css" />
    <!-- FONT AWESOME -->
    <script
      src="https://kit.fontawesome.com/681e669534.js"
      crossorigin="anonymous"
    ></script>
    <title>Pizzaria Hot Tomatoes | Entrar</title>
  </head>
  <body>
    <!-- Menu lateral -->
    <div id="mySidenav" class="sidenav">
      <a href="javascript:void(0)" class="closebutton" onclick="closeNav()">
        <i class="fas fa-times"></i>
      </a>
      <div class="mb-3 p-4 logo-sidenav">
        <p class="text-white">Bem-vindo ao</p>
        <h6 class="logo-font text-white text-center">
          Hot &nbsp;&nbsp; Tomatoes
        </h6>
      </div>
      <div class="menu-items">
        <a href="/"><i class="fas fa-home"></i> Início</a>
        <a href="/login"><i class="fas fa-sign-in-alt"></i> Entrar</a>
        <a href="/register"><i class="fas fa-user-plus"></i> Cadastre-se</a>
      </div>
    </div>
    <!-- Fim do menu lateral -->

    <!-- Banner da logo -->
    <div class="banner shadow-none card bg-dark text-white mb-5" id="banner">
      <div class="card-img-overlay">
        <div>
          <button class="btn btn-danger mb-5" onclick="openNav()">
            <i class="fas fa-bars"></i> Menu
          </button>
        </div>
      </div>
    </div>
    <!-- Fim do banner da logo -->

    <!-- Card de login -->
    <div class="container mt-5 d-flex justify-content-center">
      <div class="col-sm-6">
        <div class="card">
          <div class="card-header text-white">
            <h1>Entrar</h1>
            <p>Preencha os campos e acesse sua conta.</p>
          </div>
          <div class="card-body col-sm-12">
            <% if (locals.messages.success) { %>
              <div
                class="alert alert-success alert-dismissible fade show"
                role="alert"
              >
                <%= locals.messages.success %>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="alert"
                  aria-label="Close"
                ></button>
              </div>
            <% } %> 
            <% if (locals.messages.error) { %>
              <div
                class="alert alert-danger alert-dismissible fade show"
                role="alert"
              >
                <%= locals.messages.error %>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="alert"
                  aria-label="Close"
                ></button>
              </div>
            <% } %>

            <form method="POST" action="/login">
              <% if (message) { %>
                <div
                  class="mt-2 mb-2 alert alert-danger alert-dismissible fade show"
                  role="alert"
                >
                  <%= message %>
                  <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="alert"
                    aria-label="Close"
                  ></button>
                </div>
              <% } %>
              <div class="form-group col mb-2">
                <label class="col-sm-2 col-form-label">E-mail</label>
                <div class="col-sm-12">
                  <input
                    type="email"
                    tabindex="1"
                    class="form-control"
                    name="email"
                  />
                </div>
              </div>
              <div class="form-group col">
                <label class="col-sm-2 col-form-label">Senha</label>
                <div class="col-sm-12">
                  <input
                    type="password"
                    tabindex="2"
                    name="password"
                    class="form-control"
                  />
                </div>
              </div>
              <button
                type="submit"
                tabindex="3"
                class="mt-3 btn btn-success"
                name="button"
              >
                Entrar
              </button>
            </form>
          </div>
          <div class="card-footer">
            <span>Não possui conta? </span><a href="/register">Cadastre-se</a>
          </div>
        </div>
      </div>
    </div>
    <!-- Fim do card de login -->

    <script
      type="text/javascript"
      src="../public/assets/js/general.js"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
      integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
      integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
