<!DOCTYPE html>
<html lang="pt-br" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=no"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../public/assets/css/login.css" />
    <script
      src="https://kit.fontawesome.com/681e669534.js"
      crossorigin="anonymous"
    ></script>
    <title>Pizzaria Hot Tomatoes | Cadastro</title>
  </head>
  <body>
    <div id="mySidenav" class="sidenav">
      <a href="javascript:void(0)" class="closebutton" onclick="closeNav()"
        ><i class="fas fa-times"></i
      ></a>
      <div class="mb-3 p-4 logo-sidenav">
        <p class="text-white">Bem-vindo ao</p>
        <h6 class="logo-font text-white text-center">
          Hot &nbsp;&nbsp; Tomatoes
        </h6>
      </div>
      <div class="menu-items">
        <% if (user.id) { %>
          <a href="/home"><i class="fas fa-home"></i> Início</a>
          <a href="/register?id=<%= user.uuid %>"><i class="fas fa-users-cog"></i> Conta</a>
          <form method="GET" action="/requests">
            <input type="hidden" name="user" value="<%= user.uuid %>" />
            <button type="submit" class="btn btn-danger align-btn-lt">
              <i class="fas fa-history"></i> Histórico de pedidos
            </button>
          </form>
          <form class="mr-sm-2" method="POST" action="/login/logout">
            <button type="submit" class="btn btn-secondary text-start align-btn-lt">
              <i class="fas fa-power-off"></i> Sair
            </button>
          </form>
        <% } else { %>
          <a href="/"><i class="fas fa-home"></i> Início</a>
          <a href="/login"><i class="fas fa-sign-in-alt"></i> Entrar</a>
          <a href="/register"><i class="fas fa-user-plus"></i> Cadastre-se</a>
        <% } %>
      </div>
    </div>

    <div class="banner card shadow-none bg-dark text-white mb-5" id="banner">
      <div class="card-img-overlay">
        <div>
          <button class="btn btn-danger mb-5" onclick="openNav()">
            <i class="fas fa-bars"></i> Menu
          </button>
        </div>
      </div>
    </div>

      <div class="container d-flex justify-content-center">
        <div class="col-sm-8">
            <div class="card">
              <div class="card-header text-white">
                <% if (user.id) { %>
                  <h1>Edição</h1>
                  <p>Edite seus dados nos campos abaixo.</p>
                <% } else { %>
                  <h1>Cadastro</h1>
                  <p>Cadastre-se para realizar pedidos.</p>

                <% } %>
              </div>
              <div class="card-body col-sm-12">
                <% if (locals.messages.success) { %>
                <div
                  class="alert alert-success alert-dismissible fade show"
                  role="alert"
                >
                  <%= locals.messages.success %>
                  <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="alert"
                    aria-label="Close"
                  ></button>
                </div>
                <% } %> <% if (locals.messages.error) { %>
                <div
                  class="alert alert-danger alert-dismissible fade show"
                  role="alert"
                >
                  <%= locals.messages.error %>
                  <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="alert"
                    aria-label="Close"
                  ></button>
                </div>
                <% } %>
      
                <form method="POST" action="/register">
                  <div class="col-sm-12 row">
                    <div class="form-group col-sm-6">
                      <label class="col-form-label">Nome</label>
                      <div>
                        <input type="text" required tabindex="1" class="form-control" name="name" value="<%= user.name %>" />
                      </div>
                    </div>
                    <div class="form-group col-sm-6">
                      <label class="col-form-label">E-mail</label>
                      <div>
                        <input type="email" required tabindex="2" name="email" class="form-control" value="<%= user.email %>"/>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-12 row">
                    <div class="form-group col-sm-6">
                      <label class="col-form-label">Telefone</label>
                      <div>
                        <input type="tel" required tabindex="3" class="form-control" placeholder="(XX) X.XXXX-XXXX" name="phone" value="<%= user.phone %>"/>
                      </div>
                    </div>
                    <% if (user.uuid) { %>
                      <input type="hidden" name="id" value="<%= user.id %>">
                      <input type="hidden" name="uuid" value="<%=user.uuid%>">
                    <% } else { %>
                      <div class="form-group col-sm-6">
                        <label class="col-form-label">Senha</label>
                        <div>
                          <input type="password" required tabindex="4" name="password" class="form-control" value="<%= user.password %>"/>
                        </div>
                      </div>
                    <% } %>
                    
                  </div>
                  <div class="form-group col-sm-12 row">
                    <div class="form-group col-sm-10">
                      <label class="col-form-label">Rua</label>
                      <div class="col-sm-12">
                        <input type="text" required class="form-control" tabindex="5" name="address" value="<%= user.address %>"/>
                      </div>
                    </div>
                    <div class="form-group col-sm-2">
                      <label class="col-form-label">Número</label>
                      <div class="col-sm-12">
                        <input type="number" required tabindex="6" class="form-control" name="number" value="<%= user.number %>"/>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-12 row">
                    <div class="form-group col-sm-5">
                      <label class="col-form-label">Complemento</label>
                      <div class="col-sm-12">
                        <input type="text" required tabindex="7" name="complement" class="form-control" value="<%= user.complement %>"/>
                      </div>
                    </div>
                    <div class="form-group col-sm-7">
                      <label class="col-form-label">Bairro</label>
                      <div class="col-sm-12">
                        <input type="text" required tabindex="8" class="form-control" name="district" value="<%= user.district %>"/>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-12">
                    <div class="form-group col-sm-10">
                      <label class="col-form-label">Cidade</label>
                      <div class="col-sm-12">
                        <input type="text" required tabindex="9" name="city" class="form-control" value="<%= user.city %>"/>
                      </div>
                    </div>
                  </div>
                  <button
                    type="submit"
                    class="mt-3 btn btn-success"
                    name="button"
                    tabindex="10"
                  >
                    Salvar
                  </button>
                </form>
              </div>
            </div>
        </div>
        </div>
      </div>
    </div>

    <script
      type="text/javascript"
      src="../public/assets/js/general.js"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
      integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
      integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
