<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=no"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Asul:wght@400;700&family=Roboto:wght@300;400;500;700;900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../public/assets/css/cart.css" />
    <script
      src="https://kit.fontawesome.com/681e669534.js"
      crossorigin="anonymous"
    ></script>
    <title>Pizzaria Hot Tomatoes | Carrinho</title>
  </head>
  <body>
    <!-- Menu lateral -->
    <div id="mySidenav" class="sidenav">
      <a href="javascript:void(0)" class="closebutton" onclick="closeNav()"
        ><i class="fas fa-times"></i
      ></a>
      <div class="mb-3 p-4 logo-sidenav">
        <p class="text-white">Bem-vindo ao</p>
        <h6 class="logo-font text-white text-center">
          Hot &nbsp;&nbsp; Tomatoes
        </h6>
      </div>
      <div class="menu-items">
        <a href="/home"><i class="fas fa-home"></i> Início</a>
        <a href="/register?id=<%= userUUID %>"><i class="fas fa-users-cog"></i> Conta</a>
        <form method="GET" action="/requests">
          <input type="hidden" name="user" value="<%= userUUID %>" />
          <button type="submit" class="btn btn-danger align-btn-lt btn-flex">
            <i class="fas fa-history"></i> Histórico de pedidos
          </button>
        </form>
        <form class="mr-sm-2" method="POST" action="/login/logout">
          <button
            type="submit"
            class="btn btn-secondary text-start align-btn-lt"
          >
            <i class="fas fa-power-off"></i> Sair
          </button>
        </form>
      </div>
    </div>
    <!-- Fim do menu lateral -->

    <!-- Banner com logo da página e menus -->
    <div class="banner card bg-dark text-white" id="banner">
      <div class="card-img-overlay">
        <div class="d-flex">
          <button class="btn btn-light mb-5" onclick="openNav()">
            <i class="fas fa-bars"></i> Menu
          </button>
          <form method="GET" action="/cart">
            <input type="hidden" name="user" value="<%= userUUID %>" />
            <button type="submit" class="btn-menu btn btn-danger">
              <i class="fas fa-shopping-cart"></i>
            </button>
          </form>
        </div>
        <h5 class="card-title logo-font text-center">
          Hot &nbsp;&nbsp; Tomatoes
        </h5>
      </div>
    </div>
    <!-- Fim do banner com logo da página e menus -->

    <!-- Carrinho -->
    <div class="card border-0 mb-3">
      <h4 class="card-header bg-white">Carrinho de compras</h4>
    </div>

    <!-- Alertas para informar ao usuário sobre suas operações -->
    <div class="container mt-3">
      <% if (locals.messages.success) { %>
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        <%= locals.messages.success %>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="alert"
          aria-label="Close"
        ></button>
      </div>
      <% } %> <% if (locals.messages.error) { %>
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <%= locals.messages.error %>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="alert"
          aria-label="Close"
        ></button>
      </div>
      <% } %>
    </div>
    <!-- Fim dos alertas para informar ao usuário sobre suas operações -->

    <!-- Container que engloba todos itens do carrinho e resumo -->
    <div class="container mt-3">
      <!-- Detalhamento do pedido, caso haja itens aparece. -->
      <% if (items.length > 0) { %>
      <div class="card mb-5 card-request shadow rounded">
        <div class="card-header">
          <h5>Resumo do pedido</h5>
        </div>
        <div class="card-body card-item card-summary">
          <div class="d-flex justify-content-between align-items-center">
            <p class="text-muted">Sub-total</p>
            <h6>R$ <%= subtotal %></h6>
          </div>
          <div class="d-flex justify-content-between align-items-center">
            <% if (items.length > 0) { %>
            <p class="text-muted">Taxa de entrega</p>
            <h6>R$ <%= delivery %></h6>
            <% } %>
          </div>
          <div class="d-flex justify-content-between align-items-center">
            <p class="weight-700 total">Total</p>
            <h6 class="weight-700">R$ <%= total %></h6>
          </div>
          <div class="d-flex justify-content-center">
            <form action="/cart/request" method="post">
              <input type="hidden" name="subtotal" value="<%= subtotal %>" />
              <input type="hidden" name="total" value="<%= total %>" />
              <input type="hidden" name="userUUID" value="<%= userUUID %> " />
              <input type="hidden" name="user_id" value="<%= user_id %> " />
              <button class="btn btn-success" type="submit">
                <i class="fas fa-check"></i> Finalizar pedido
              </button>
            </form>
          </div>
        </div>
        <div class="card-footer d-flex justify-content-between">
          <a href="#request-items" class="btn btn-primary">
            Visualizar itens do pedido
          </a>
          <button
            type="button"
            class="btn btn-danger"
            data-bs-toggle="modal"
            data-bs-target="#deleteAll"
          >
            <i class="fas fa-trash"></i>
          </button>
        </div>
      </div>
      <% } %>
      <!-- Fim do detalhamento do pedido. -->

      <!-- Caso não haja itens no carrinho, aparecerá a mensagem de carrinho vazio -->
      <% if (items.length == 0) { %>
      <div
        class="empty-cart text-muted d-flex flex-column align-items-center justify-content-center"
      >
        <i class="fas fa-exclamation-triangle"></i>
        <h5>Seu carrinho está vazio.</h5>
        <a href="/home" class="btn btn-primary mt-3">Ir ao cardápio</a>
      </div>
      <% } %>
      <!-- Fim da mensagem de carrinho vazio -->

      <!-- Visualização dos itens do carrinho -->
      <% for(item of items) { %>
      <div class="card mb-4 shadow rounded" id="request-items">
        <div class="card-header no-border">
          <div class="d-flex justify-content-end">
            <button
              type="button"
              class="margin-btn btn btn-warning text-white"
              data-bs-toggle="modal"
              data-bs-target="#edit-item-<%= item.itemUUID %>"
            >
              <i class="fas fa-edit"></i>
            </button>
            <button
              type="button"
              class="btn btn-danger"
              data-bs-toggle="modal"
              data-bs-target="#delete-item-<%= item.itemUUID %>"
            >
              <i class="fas fa-trash"></i>
            </button>
          </div>
        </div>
        <div
          class="card-body d-flex justify-content-between align-items-center"
        >
          <div>
            <h5 class="card-title">
              <%= item.name %>
              <span class="text-muted">
                <% if (item.size) { %> 
                  (<%= item.size  %>)
                <% } %> 
                <%= item.amount %>x</span
              >
            </h5>
            <p class="card-text"><%= item.description %></p>
            <p class="text-muted">Preço unitário: R$ <%= item.price %></p>
          </div>
        </div>
        <% if (item.observations) { %>
        <div class="card-footer">
          <h5>Observações:</h5>
          <p><%= item.observations %></p>
        </div>
        <% } %>

        <!-- Modal de edição de item do carrinho -->
        <div
          class="modal fade"
          id="edit-item-<%= item.itemUUID %>"
          tabindex="-1"
          aria-labelledby="editItemLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="editItemLabel">
                  Editar item do pedido
                </h5>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
              <div class="modal-body">
                <form method="POST" action="/cart/update">
                  <input
                    type="hidden"
                    name="userUUID"
                    value="<%= item.userUUID %> "
                  />
                  <input
                    type="hidden"
                    name="itemUUID"
                    value="<%= item.itemUUID %> "
                  />
                  <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label"
                      >Quantidade</label
                    >
                    <input
                      type="number"
                      class="form-control"
                      id="exampleFormControlInput1"
                      name="amount"
                      value="<%= item.amount %>"
                      min="1"
                    />
                  </div>
                  <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label"
                      >Observações (Opcional)</label
                    >
                    <textarea
                      class="form-control"
                      id="exampleFormControlTextarea1"
                      rows="3"
                      name="observations"
                    >
<%= item.observations %></textarea
                    >
                  </div>
                  <div class="modal-footer">
                    <button
                      type="button"
                      class="btn btn-secondary"
                      data-bs-dismiss="modal"
                    >
                      Cancelar
                    </button>
                    <button type="submit" class="btn btn-success">
                      Salvar alterações
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <!-- Fim do modal de edição de item do carrinho -->

        <!-- Modal de deleção de item do carrinho -->
        <div
          class="modal fade"
          id="delete-item-<%= item.itemUUID %>"
          tabindex="-1"
          aria-labelledby="deleteItemLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="deleteItemLabel">Tem certeza?</h5>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
              <div class="modal-body">
                <p>
                  <span class="weight-700">Atenção:</span> Ao confirmar, você
                  removerá o item do seu carrinho.
                </p>
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-bs-dismiss="modal"
                >
                  Cancelar
                </button>
                <form action="/cart/remove" method="post">
                  <input
                    type="hidden"
                    name="itemUUID"
                    value="<%= item.itemUUID %> "
                  />
                  <input
                    type="hidden"
                    name="userUUID"
                    value="<%= item.userUUID %>"
                  />
                  <button class="btn btn-danger" type="submit">
                    Confirmar exclusão
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
        <!-- Fim do modal de deleção de item do carrinho -->
      </div>
      <% } %>
      <!-- Fim da visualização dos itens do carrinho -->

      <!-- Botão de voltar ao topo, aparece se houver itens no carrinho -->
      <% if (items.length > 0) { %>
      <div class="d-flex justify-content-end mt-3 mb-5">
        <a href="#banner" class="btn btn-danger"
          ><i class="fas fa-arrow-up"></i
        ></a>
      </div>
      <% } %>
      <!-- Fim do botão de voltar ao topo-->
    </div>
    <!-- Fim do container que engloba todos itens do carrinho e resumo -->

    <!-- Modal de exclusão de todos itens do carrinho -->
    <div
      class="modal fade"
      id="deleteAll"
      tabindex="-1"
      aria-labelledby="deleteAllLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="deleteAllLabel">Tem certeza?</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <p>
              <span class="weight-700">Atenção:</span> Ao confirmar, você estará
              removendo todos os itens do carrinho.
            </p>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Cancelar
            </button>
            <form class="" action="/cart/removeAll" method="post">
              <input type="hidden" name="userUUID" value="<%= userUUID %>" />
              <button class="btn btn-danger" type="submit">
                Confirmar exclusão
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- Fim do modal de exclusão de todos itens do carrinho -->

    <script
      type="text/javascript"
      src="../public/assets/js/general.js"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
      integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
      integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
