<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=no"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Asul:wght@400;700&family=Roboto:wght@300;400;500;700;900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../public/assets/css/home.css" />
    <script
      src="https://kit.fontawesome.com/681e669534.js"
      crossorigin="anonymous"
    ></script>
    <title>Pizzaria Hot Tomatoes | Início</title>
  </head>
  <body>
    <!-- Menu lateral -->
    <div id="mySidenav" class="sidenav">
      <a href="javascript:void(0)" class="closebutton" onclick="closeNav()"
        ><i class="fas fa-times"></i
      ></a>
      <div class="mb-3 p-4 logo-sidenav">
        <p class="text-white">Bem-vindo ao</p>
        <h6 class="logo-font text-white text-center">
          Hot &nbsp;&nbsp; Tomatoes
        </h6>
      </div>
      <div class="menu-items">
        <a href="/home"><i class="fas fa-home"></i> Início</a>
        <a href="/register?id=<%= user.uuid %>"><i class="fas fa-users-cog"></i> Conta</a>
        <form method="GET" action="/requests">
          <input type="hidden" name="user" value="<%= user.uuid %>" />
          <button type="submit" class="btn btn-danger align-btn-lt">
            <i class="fas fa-history"></i> Histórico de pedidos
          </button>
        </form>
        <form class="mr-sm-2" method="POST" action="/login/logout">
          <button type="submit" class="btn btn-secondary text-start align-btn-lt">
            <i class="fas fa-power-off"></i> Sair
          </button>
        </form>
      </div>
    </div>

    <div class="banner card bg-dark text-white" id="banner">
      <div class="card-img-overlay">
        <div class="d-flex">
          <button class="btn btn-light mb-5" onclick="openNav()">
            <i class="fas fa-bars"></i> Menu
          </button>
          <form method="GET" action="/cart">
            <input type="hidden" name="user" value="<%= user.uuid %>" />
            <button type="submit" class="btn-menu btn btn-danger">
              <i class="fas fa-shopping-cart"></i>
            </button>
          </form>
        </div>
        <h5 class="card-title logo-font text-center">
          Hot &nbsp;&nbsp; Tomatoes
        </h5>
      </div>
    </div>
    <section class="category-menu mb-4" id="sub-menu-options">
      <ul class="nav nav-tabs justify-content-center">
        <li class="nav-item">
          <a
            class="nav-link category-item menu-link active"
            href="#pizza"
            id="pizzaSalgada"
            onclick="activeMenu(this)"
            >Pizzas</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link category-item menu-link"
            href="#PizzaDoce"
            id="pizzaDoce"
            onclick="activeMenu(this)"
            >Pizzas Doces</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link category-item menu-link"
            href="#Massas"
            onclick="activeMenu(this)"
            >Massas</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link category-item menu-link"
            href="#Sobremesas"
            onclick="activeMenu(this)"
            >Sobremesas</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link category-item menu-link"
            href="#Crepes"
            onclick="activeMenu(this)"
            >Crepes</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link category-item menu-link"
            href="#Bebidas"
            onclick="activeMenu(this)"
            >Bebidas</a
          >
        </li>
      </ul>
    </section>

    <div class="container mt-3">
      <% if (locals.messages.success) { %>
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        <%= locals.messages.success %>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="alert"
          aria-label="Close"
        ></button>
      </div>
      <% } %> <% if (locals.messages.error) { %>
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <%= locals.messages.error %>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="alert"
          aria-label="Close"
        ></button>
      </div>
      <% } %>
    </div>

    <div class="content">
      <div class="categories-general">
        <div id="pizza" class="category-session">
          <div class="container">
            <div class="dropdown">
              <button
                class="btn-filter btn btn-danger dropdown-toggle mb-3"
                type="button"
                id="dropdownPizzaSizeFilter"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                <i class="fas fa-filter"></i> Filtre por tamanho
              </button>
              <ul
                class="dropdown-menu"
                aria-labelledby="dropdownPizzaSizeFilter"
              >
                <li><a class="dropdown-item" href="#pequena">Pequenas</a></li>
                <li><a class="dropdown-item" href="#media">Médias</a></li>
                <li><a class="dropdown-item" href="#grande">Grandes</a></li>
              </ul>
            </div>

            <div class="subHeader" id="pequena">
              <h2>Pizzas Pequenas</h2>
            </div>
            <div class="productSub mb-5">
              <% for( product of products) { %> <% if (product.size == "Pequena"
              && product.category == "Pizzas") { %>
              <div class="col">
                <div class="card mb-4">
                  <div class="card-body">
                    <h4 class="card-title"><%= product.name %></h4>
                    <p class="card-text"><%= product.description %></p>
                    <h5 class="text-muted">R$<%= product.price %></h5>
                  </div>
                  <div class="card-footer">
                    <button
                      type="button"
                      class="btn btn-primary"
                      data-bs-toggle="modal"
                      data-bs-target="#add-modal-<%= product.id %>"
                    >
                      <i class="fas fa-shopping-cart"></i> Carrinho
                    </button>
                  </div>
                </div>
              </div>

              <div
                class="modal fade"
                id="add-modal-<%= product.id %>"
                tabindex="-1"
                aria-labelledby="exampleModalLabel"
                aria-hidden="true"
              >
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">
                        Adicionar - <%= product.name %>
                      </h5>
                      <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                      ></button>
                    </div>
                    <div class="modal-body">
                      <form action="/cart/add" method="POST">
                        <input
                          type="hidden"
                          name="user_id"
                          value="<%= user.id %>"
                        />
                        <input
                          type="hidden"
                          name="product_id"
                          value="<%= product.id %>"
                        />
                        <input type="hidden" name="current_price" value="<%= product.price %>">
                        <div class="form-group mb-3">
                          <label for="amount">Quantidade</label>
                          <input
                            class="form-control"
                            type="number"
                            id="amount"
                            name="amount"
                            min="1"
                            value="1"
                          />
                        </div>
                        <div class="form-group">
                          <label for="observations"
                            >Observações (opcional)</label
                          >
                          <textarea
                            name="observations"
                            id="observations"
                            class="form-control"
                          ></textarea>
                        </div>
                        <div class="form-group mt-3">
                          <button
                            type="button"
                            class="btn btn-secondary"
                            data-bs-dismiss="modal"
                          >
                            Cancelar
                          </button>
                          <button type="submit" class="btn btn-success">
                            Adicionar
                          </button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>

              <% } %> <% } %>
            </div>

            <div class="subHeader" id="media">
              <h2>Pizzas Médias</h2>
            </div>
            <div class="productSub mb-5">
              <% for( product of products) { %> <% if (product.size == "Média"
              && product.category == "Pizzas") { %>
              <div class="col">
                <div class="card mb-4">
                  <div class="card-body">
                    <h4 class="card-title"><%= product.name %></h4>
                    <p class="card-text"><%= product.description %></p>
                    <h5 class="text-muted">R$<%= product.price %></h5>
                  </div>
                  <div class="card-footer">
                    <button
                      type="button"
                      class="btn btn-primary"
                      data-bs-toggle="modal"
                      data-bs-target="#add-modal-<%= product.id %>"
                    >
                      <i class="fas fa-shopping-cart"></i> Carrinho
                    </button>
                  </div>
                </div>
              </div>
              <div
                class="modal fade"
                id="add-modal-<%= product.id %>"
                tabindex="-1"
                aria-labelledby="exampleModalLabel"
                aria-hidden="true"
              >
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">
                        Adicionar - <%= product.name %>
                      </h5>
                      <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                      ></button>
                    </div>
                    <div class="modal-body">
                      <form action="/cart/add" method="POST">
                        <input
                          type="hidden"
                          name="user_id"
                          value="<%= user.id %>"
                        />
                        <input
                          type="hidden"
                          name="product_id"
                          value="<%= product.id %>"
                        />
                        <input type="hidden" name="current_price" value="<%= product.price %>">
                        <div class="form-group mb-3">
                          <label for="amount">Quantidade</label>
                          <input
                            class="form-control"
                            type="number"
                            id="amount"
                            name="amount"
                            min="1"
                            value="1"
                          />
                        </div>
                        <div class="form-group">
                          <label for="observations"
                            >Observações (opcional)</label
                          >
                          <textarea
                            name="observations"
                            id="observations"
                            class="form-control"
                          ></textarea>
                        </div>
                        <div class="form-group mt-3">
                          <button
                            type="button"
                            class="btn btn-secondary"
                            data-bs-dismiss="modal"
                          >
                            Cancelar
                          </button>
                          <button type="submit" class="btn btn-success">
                            Adicionar
                          </button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>

              <% } %> <% } %>
            </div>
            <div class="subHeader" id="grande">
              <h2>Pizzas Grandes</h2>
            </div>
            <div class="productSub mb-5">
              <% for( product of products) { %> <% if (product.size == "Grande"
              && product.category == "Pizzas") { %>
              <div class="col">
                <div class="card mb-4">
                  <div class="card-body">
                    <h4 class="card-title"><%= product.name %></h4>
                    <p class="card-text"><%= product.description %></p>
                    <h5 class="text-muted">R$<%= product.price %></h5>
                  </div>
                  <div class="card-footer">
                    <button
                      type="button"
                      class="btn btn-primary"
                      data-bs-toggle="modal"
                      data-bs-target="#add-modal-<%= product.id %>"
                    >
                      <i class="fas fa-shopping-cart"></i> Carrinho
                    </button>
                  </div>
                </div>
              </div>

              <div
                class="modal fade"
                id="add-modal-<%= product.id %>"
                tabindex="-1"
                aria-labelledby="exampleModalLabel"
                aria-hidden="true"
              >
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">
                        Adicionar - <%= product.name %>
                      </h5>
                      <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                      ></button>
                    </div>
                    <div class="modal-body">
                      <form action="/cart/add" method="POST">
                        <input
                          type="hidden"
                          name="user_id"
                          value="<%= user.id %>"
                        />
                        <input
                          type="hidden"
                          name="product_id"
                          value="<%= product.id %>"
                        />
                        <input type="hidden" name="current_price" value="<%= product.price %>">
                        <div class="form-group mb-3">
                          <label for="amount">Quantidade</label>
                          <input
                            class="form-control"
                            type="number"
                            id="amount"
                            name="amount"
                            min="1"
                            value="1"
                          />
                        </div>
                        <div class="form-group">
                          <label for="observations"
                            >Observações (opcional)</label
                          >
                          <textarea
                            name="observations"
                            id="observations"
                            class="form-control"
                          ></textarea>
                        </div>
                        <div class="form-group mt-3">
                          <button
                            type="button"
                            class="btn btn-secondary"
                            data-bs-dismiss="modal"
                          >
                            Cancelar
                          </button>
                          <button type="submit" class="btn btn-success">
                            Adicionar
                          </button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>

              <% } %> <% } %> <% if (products.filter(product => product.category
              == 'Pizzas').length > 0) { %>
              <div class="d-flex justify-content-end">
                <a
                  href="#dropdownPizzaSizeFilter"
                  class="btn-filter btn btn-danger"
                  ><i class="fas fa-arrow-up"></i
                ></a>
              </div>
              <% } %>
              <% if (products.filter(product => product.category ==
              'Pizzas').length == 0) { %>
              <div class="d-flex flex-column justify-content-center align-items-center text-muted empty-category">
                <i class="fas fa-exclamation-triangle"></i>
                <h5>Desculpe, não há itens nessa categoria ainda.</h5>
              </div>
              <% } %>
            </div>
          </div>
        </div>
        <div id="PizzaDoce" class="category-session">
          <div class="container">
            <div class="dropdown">
              <button
                class="btn btn-danger dropdown-toggle mb-3"
                type="button"
                id="dropdownPizzaDoceSizeFilter"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                <i class="fas fa-filter"></i> Filtre por tamanho
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li>
                  <a class="dropdown-item" href="#pequenaDoce">Pequenas</a>
                </li>
                <li><a class="dropdown-item" href="#mediaDoce">Médias</a></li>
                <li><a class="dropdown-item" href="#grandeDoce">Grandes</a></li>
              </ul>
            </div>
            <div class="subHeader" id="pequenaDoce">
              <h2>Pizzas Doces Pequenas</h2>
            </div>
            <div class="productSub mb-5">
              <% for( product of products) { %> <% if (product.size == "Pequena"
              && product.category == "Pizzas Doces") { %>
              <div class="col">
                <div class="card mb-4">
                  <div class="card-body">
                    <h4 class="card-title"><%= product.name %></h4>
                    <p class="card-text"><%= product.description %></p>
                    <h5 class="text-muted">R$<%= product.price %></h5>
                  </div>
                  <div class="card-footer">
                    <button
                      type="button"
                      class="btn btn-primary"
                      data-bs-toggle="modal"
                      data-bs-target="#add-modal-<%= product.id %>"
                    >
                      <i class="fas fa-shopping-cart"></i> Carrinho
                    </button>
                  </div>
                </div>
              </div>

              <div
                class="modal fade"
                id="add-modal-<%= product.id %>"
                tabindex="-1"
                aria-labelledby="exampleModalLabel"
                aria-hidden="true"
              >
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">
                        Adicionar - <%= product.name %>
                      </h5>
                      <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                      ></button>
                    </div>
                    <div class="modal-body">
                      <form action="/cart/add" method="POST">
                        <input
                          type="hidden"
                          name="user_id"
                          value="<%= user.id %>"
                        />
                        <input
                          type="hidden"
                          name="product_id"
                          value="<%= product.id %>"
                        />
                        <input type="hidden" name="current_price" value="<%= product.price %>">
                        <div class="form-group mb-3">
                          <label for="amount">Quantidade</label>
                          <input
                            class="form-control"
                            type="number"
                            id="amount"
                            name="amount"
                            min="1"
                            value="1"
                          />
                        </div>
                        <div class="form-group">
                          <label for="observations"
                            >Observações (opcional)</label
                          >
                          <textarea
                            name="observations"
                            id="observations"
                            class="form-control"
                          ></textarea>
                        </div>
                        <div class="form-group mt-3">
                          <button
                            type="button"
                            class="btn btn-secondary"
                            data-bs-dismiss="modal"
                          >
                            Cancelar
                          </button>
                          <button type="submit" class="btn btn-success">
                            Adicionar
                          </button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>

              <% } %> <% } %>
            </div>
            <div class="subHeader" id="mediaDoce">
              <h2>Pizzas Doces Médias</h2>
            </div>
            <div class="productSub mb-5">
              <% for( product of products) { %> <% if (product.size == "Média"
              && product.category == "Pizzas Doces") { %>
              <div class="col">
                <div class="card mb-4">
                  <div class="card-body">
                    <h4 class="card-title"><%= product.name %></h4>
                    <p class="card-text"><%= product.description %></p>
                    <h5 class="text-muted">R$<%= product.price %></h5>
                  </div>
                  <div class="card-footer">
                    <button
                      type="button"
                      class="btn btn-primary"
                      data-bs-toggle="modal"
                      data-bs-target="#add-modal-<%= product.id %>"
                    >
                      <i class="fas fa-shopping-cart"></i> Carrinho
                    </button>
                  </div>
                </div>
              </div>

              <div
                class="modal fade"
                id="add-modal-<%= product.id %>"
                tabindex="-1"
                aria-labelledby="exampleModalLabel"
                aria-hidden="true"
              >
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">
                        Adicionar - <%= product.name %>
                      </h5>
                      <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                      ></button>
                    </div>
                    <div class="modal-body">
                      <form action="/cart/add" method="POST">
                        <input
                          type="hidden"
                          name="user_id"
                          value="<%= user.id %>"
                        />
                        <input
                          type="hidden"
                          name="product_id"
                          value="<%= product.id %>"
                        />
                        <input type="hidden" name="current_price" value="<%= product.price %>">
                        <div class="form-group mb-3">
                          <label for="amount">Quantidade</label>
                          <input
                            class="form-control"
                            type="number"
                            id="amount"
                            name="amount"
                            min="1"
                            value="1"
                          />
                        </div>
                        <div class="form-group">
                          <label for="observations"
                            >Observações (opcional)</label
                          >
                          <textarea
                            name="observations"
                            id="observations"
                            class="form-control"
                          ></textarea>
                        </div>
                        <div class="form-group mt-3">
                          <button
                            type="button"
                            class="btn btn-secondary"
                            data-bs-dismiss="modal"
                          >
                            Cancelar
                          </button>
                          <button type="submit" class="btn btn-success">
                            Adicionar
                          </button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>

              <% } %> <% } %>
            </div>
            <div class="subHeader" id="grandeDoce">
              <h2>Pizzas Doces Grandes</h2>
            </div>
            <div class="productSub mb-5">
              <% for( product of products) { %> <% if (product.size == "Grande"
              && product.category == "Pizzas Doces") { %>
              <div class="col">
                <div class="card mb-4">
                  <div class="card-body">
                    <h4 class="card-title"><%= product.name %></h4>
                    <p class="card-text"><%= product.description %></p>
                    <h5 class="text-muted">R$<%= product.price %></h5>
                  </div>
                  <div class="card-footer">
                    <button
                      type="button"
                      class="btn btn-primary"
                      data-bs-toggle="modal"
                      data-bs-target="#add-modal-<%= product.id %>"
                    >
                      <i class="fas fa-shopping-cart"></i> Carrinho
                    </button>
                  </div>
                </div>
              </div>

              <div
                class="modal fade"
                id="add-modal-<%= product.id %>"
                tabindex="-1"
                aria-labelledby="exampleModalLabel"
                aria-hidden="true"
              >
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">
                        Adicionar - <%= product.name %>
                      </h5>
                      <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                      ></button>
                    </div>
                    <div class="modal-body">
                      <form action="/cart/add" method="POST">
                        <input
                          type="hidden"
                          name="user_id"
                          value="<%= user.id %>"
                        />
                        <input
                          type="hidden"
                          name="product_id"
                          value="<%= product.id %>"
                        />
                        <input type="hidden" name="current_price" value="<%= product.price %>">
                        <div class="form-group mb-3">
                          <label for="amount">Quantidade</label>
                          <input
                            class="form-control"
                            type="number"
                            id="amount"
                            name="amount"
                            min="1"
                            value="1"
                          />
                        </div>
                        <div class="form-group">
                          <label for="observations"
                            >Observações (opcional)</label
                          >
                          <textarea
                            name="observations"
                            id="observations"
                            class="form-control"
                          ></textarea>
                        </div>
                        <div class="form-group mt-3">
                          <button
                            type="button"
                            class="btn btn-secondary"
                            data-bs-dismiss="modal"
                          >
                            Cancelar
                          </button>
                          <button type="submit" class="btn btn-success">
                            Adicionar
                          </button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>

              <% } %> <% } %> <% if (products.filter(product => product.category
              == 'Pizzas Doces').length > 0) { %>
              <div class="d-flex justify-content-end">
                <a
                  href="#dropdownPizzaDoceSizeFilter"
                  class="btn-filter btn btn-danger"
                  ><i class="fas fa-arrow-up"></i
                ></a>
              </div>
              <% } %>
              <% if (products.filter(product => product.category ==
              'Pizzas Doces').length == 0) { %>
              <div class="d-flex flex-column justify-content-center align-items-center text-muted empty-category">
                <i class="fas fa-exclamation-triangle"></i>
                <h5>Desculpe, não há itens nessa categoria ainda.</h5>
              </div>
              <% } %>
            </div>
          </div>
        </div>

        <div id="Massas" class="category-session">
          <div class="container">
            <div class="subHeader">
              <h2>Massas</h2>
            </div>
            <div class="productSub mb-5">
              <% for( product of products) { %> <% if (product.category ==
              "Massas") { %>
              <div class="col">
                <div class="card mb-4">
                  <div class="card-body">
                    <h4 class="card-title"><%= product.name %></h4>
                    <p class="card-text"><%= product.description %></p>
                    <h5 class="text-muted">R$<%= product.price %></h5>
                  </div>
                  <div class="card-footer">
                    <button
                      type="button"
                      class="btn btn-primary"
                      data-bs-toggle="modal"
                      data-bs-target="#add-modal-<%= product.id %>"
                    >
                      <i class="fas fa-shopping-cart"></i> Carrinho
                    </button>
                  </div>
                </div>
              </div>

              <div
                class="modal fade"
                id="add-modal-<%= product.id %>"
                tabindex="-1"
                aria-labelledby="exampleModalLabel"
                aria-hidden="true"
              >
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">
                        Adicionar - <%= product.name %>
                      </h5>
                      <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                      ></button>
                    </div>
                    <div class="modal-body">
                      <form action="/cart/add" method="POST">
                        <input
                          type="hidden"
                          name="user_id"
                          value="<%= user.id %>"
                        />
                        <input
                          type="hidden"
                          name="product_id"
                          value="<%= product.id %>"
                        />
                        <input type="hidden" name="current_price" value="<%= product.price %>">
                        <div class="form-group mb-3">
                          <label for="amount">Quantidade</label>
                          <input
                            class="form-control"
                            type="number"
                            id="amount"
                            name="amount"
                            min="1"
                            value="1"
                          />
                        </div>
                        <div class="form-group">
                          <label for="observations"
                            >Observações (opcional)</label
                          >
                          <textarea
                            name="observations"
                            id="observations"
                            class="form-control"
                          ></textarea>
                        </div>
                        <div class="form-group mt-3">
                          <button
                            type="button"
                            class="btn btn-secondary"
                            data-bs-dismiss="modal"
                          >
                            Cancelar
                          </button>
                          <button type="submit" class="btn btn-success">
                            Adicionar
                          </button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>

              <% } %> <% } %> <% if (products.filter(product => product.category
              == 'Massas').length > 0) { %>
              <div class="d-flex justify-content-end">
                <a href="#Massas" class="btn-filter btn btn-danger"
                  ><i class="fas fa-arrow-up"></i
                ></a>
              </div>
              <% } %>
              <% if (products.filter(product => product.category ==
              'Massas').length == 0) { %>
              <div class="d-flex flex-column justify-content-center align-items-center text-muted empty-category">
                <i class="fas fa-exclamation-triangle"></i>
                <h5>Desculpe, não há itens nessa categoria ainda.</h5>
              </div>
              <% } %>
            </div>
          </div>
        </div>

        <div id="Sobremesas" class="category-session">
          <div class="container" id="sobremesa-section">
            <div class="subHeader">
              <h2>Sobremesas</h2>
            </div>
            <div class="productSub mb-5">
              <% for( product of products) { %> <% if (product.category ==
              "Sobremesas") { %>
              <div class="col">
                <div class="card mb-4">
                  <div class="card-body">
                    <h4 class="card-title"><%= product.name %></h4>
                    <p class="card-text"><%= product.description %></p>
                    <h5 class="text-muted">R$<%= product.price %></h5>
                  </div>
                  <div class="card-footer">
                    <button
                      type="button"
                      class="btn btn-primary"
                      data-bs-toggle="modal"
                      data-bs-target="#add-modal-<%= product.id %>"
                    >
                      <i class="fas fa-shopping-cart"></i> Carrinho
                    </button>
                  </div>
                </div>
              </div>

              <div
                class="modal fade"
                id="add-modal-<%= product.id %>"
                tabindex="-1"
                aria-labelledby="exampleModalLabel"
                aria-hidden="true"
              >
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">
                        Adicionar - <%= product.name %>
                      </h5>
                      <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                      ></button>
                    </div>
                    <div class="modal-body">
                      <form action="/cart/add" method="POST">
                        <input
                          type="hidden"
                          name="user_id"
                          value="<%= user.id %>"
                        />
                        <input
                          type="hidden"
                          name="product_id"
                          value="<%= product.id %>"
                        />
                        <input type="hidden" name="current_price" value="<%= product.price %>">
                        <div class="form-group mb-3">
                          <label for="amount">Quantidade</label>
                          <input
                            class="form-control"
                            type="number"
                            id="amount"
                            name="amount"
                            min="1"
                            value="1"
                          />
                        </div>
                        <div class="form-group">
                          <label for="observations"
                            >Observações (opcional)</label
                          >
                          <textarea
                            name="observations"
                            id="observations"
                            class="form-control"
                          ></textarea>
                        </div>
                        <div class="form-group mt-3">
                          <button
                            type="button"
                            class="btn btn-secondary"
                            data-bs-dismiss="modal"
                          >
                            Cancelar
                          </button>
                          <button type="submit" class="btn btn-success">
                            Adicionar
                          </button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>

              <% } %> <% } %> <% if (products.filter(product => product.category
              == 'Sobremesas').length > 0) { %>
              <div class="d-flex justify-content-end">
                <a href="#sobremesa-section" class="btn-filter btn btn-danger"
                  ><i class="fas fa-arrow-up"></i
                ></a>
              </div>
              <% } %>
              <% if (products.filter(product => product.category ==
              'Sobremesas').length == 0) { %>
              <div class="d-flex flex-column justify-content-center align-items-center text-muted empty-category">
                <i class="fas fa-exclamation-triangle"></i>
                <h5>Desculpe, não há itens nessa categoria ainda.</h5>
              </div>
              <% } %>
            </div>
          </div>
        </div>

        <div id="Crepes" class="category-session">
          <div class="container" id="crepes-section">
            <div class="subHeader">
              <h2>Crepes</h2>
            </div>
            <div class="productSub mb-5">
              <% for( product of products) { %> <% if (product.category ==
              "Crepes") { %>
              <div class="col">
                <div class="card mb-4">
                  <div class="card-body">
                    <h4 class="card-title"><%= product.name %></h4>
                    <p class="card-text"><%= product.description %></p>
                    <h5 class="text-muted">R$<%= product.price %></h5>
                  </div>
                  <div class="card-footer">
                    <button
                      type="button"
                      class="btn btn-primary"
                      data-bs-toggle="modal"
                      data-bs-target="#add-modal-<%= product.id %>"
                    >
                      <i class="fas fa-shopping-cart"></i> Carrinho
                    </button>
                  </div>
                </div>
              </div>

              <div
                class="modal fade"
                id="add-modal-<%= product.id %>"
                tabindex="-1"
                aria-labelledby="exampleModalLabel"
                aria-hidden="true"
              >
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">
                        Adicionar - <%= product.name %>
                      </h5>
                      <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                      ></button>
                    </div>
                    <div class="modal-body">
                      <form action="/cart/add" method="POST">
                        <input
                          type="hidden"
                          name="user_id"
                          value="<%= user.id %>"
                        />
                        <input
                          type="hidden"
                          name="product_id"
                          value="<%= product.id %>"
                        />
                        <input type="hidden" name="current_price" value="<%= product.price %>">
                        <div class="form-group mb-3">
                          <label for="amount">Quantidade</label>
                          <input
                            class="form-control"
                            type="number"
                            id="amount"
                            name="amount"
                            min="1"
                            value="1"
                          />
                        </div>
                        <div class="form-group">
                          <label for="observations"
                            >Observações (opcional)</label
                          >
                          <textarea
                            name="observations"
                            id="observations"
                            class="form-control"
                          ></textarea>
                        </div>
                        <div class="form-group mt-3">
                          <button
                            type="button"
                            class="btn btn-secondary"
                            data-bs-dismiss="modal"
                          >
                            Cancelar
                          </button>
                          <button type="submit" class="btn btn-success">
                            Adicionar
                          </button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>

              <% } %> <% } %> <% if (products.filter(product => product.category
              == 'Crepes').length > 0) { %>
              <div class="d-flex justify-content-end">
                <a href="#crepes-section" class="btn-filter btn btn-danger"
                  ><i class="fas fa-arrow-up"></i
                ></a>
              </div>
              <% } %>
              <% if (products.filter(product => product.category ==
              'Crepes').length == 0) { %>
              <div class="d-flex flex-column justify-content-center align-items-center text-muted empty-category">
                <i class="fas fa-exclamation-triangle"></i>
                <h5>Desculpe, não há itens nessa categoria ainda.</h5>
              </div>
              <% } %>
            </div>
          </div>
        </div>

        <div id="Bebidas" class="category-session">
          <div class="container">
            <div class="subHeader">
              <h2>Bebidas</h2>
            </div>
            <div class="productSub mb-5">
              <% for( product of products) { %> <% if (product.category ==
              "Bebidas") { %>
              <div class="col">
                <div class="card mb-4">
                  <div class="card-body">
                    <h4 class="card-title"><%= product.name %></h4>
                    <p class="card-text"><%= product.description %></p>
                    <h5 class="text-muted">R$<%= product.price %></h5>
                  </div>
                  <div class="card-footer">
                    <button
                      type="button"
                      class="btn btn-primary"
                      data-bs-toggle="modal"
                      data-bs-target="#add-modal-<%= product.id %>"
                    >
                      <i class="fas fa-shopping-cart"></i> Carrinho
                    </button>
                  </div>
                </div>
              </div>

              <div
                class="modal fade"
                id="add-modal-<%= product.id %>"
                tabindex="-1"
                aria-labelledby="exampleModalLabel"
                aria-hidden="true"
              >
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">
                        Adicionar - <%= product.name %>
                      </h5>
                      <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                      ></button>
                    </div>
                    <div class="modal-body">
                      <form action="/cart/add" method="POST">
                        <input
                          type="hidden"
                          name="user_id"
                          value="<%= user.id %>"
                        />
                        <input
                          type="hidden"
                          name="product_id"
                          value="<%= product.id %>"
                        />
                        <input type="hidden" name="current_price" value="<%= product.price %>">
                        <div class="form-group mb-3">
                          <label for="amount">Quantidade</label>
                          <input
                            class="form-control"
                            type="number"
                            id="amount"
                            name="amount"
                            min="1"
                            value="1"
                          />
                        </div>
                        <div class="form-group">
                          <label for="observations"
                            >Observações (opcional)</label
                          >
                          <textarea
                            name="observations"
                            id="observations"
                            class="form-control"
                          ></textarea>
                        </div>
                        <div class="form-group mt-3">
                          <button
                            type="button"
                            class="btn btn-secondary"
                            data-bs-dismiss="modal"
                          >
                            Cancelar
                          </button>
                          <button type="submit" class="btn btn-success">
                            Adicionar
                          </button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>

              <% } %> <% } %> <% if (products.filter(product => product.category
              == 'Bebidas').length > 0) { %>
              <div class="d-flex justify-content-end">
                <a href="#Bebidas" class="btn-filter btn btn-danger"
                  ><i class="fas fa-arrow-up"></i
                ></a>
              </div>
              <% } %> <% if (products.filter(product => product.category ==
              'Bebidas').length == 0) { %>
              <div
                class="d-flex flex-column justify-content-center align-items-center text-muted empty-category"
              >
                <i class="fas fa-exclamation-triangle"></i>
                <h5>Desculpe, não há itens nessa categoria ainda.</h5>
              </div>
              <% } %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script
      type="text/javascript"
      src="../public/assets/js/general.js"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
      integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
      integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
