@font-face {
  font-family: "PizzaHeader";
  src: url("../fonts/OrderPizza-97J2.ttf") format("truetype");
}

:root {
  --main-black: #0f0e0e;
  --main-white: #ffffff;
  --main-red: #be0f2c;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Asul", sans-serif;
}

.logo-font {
  font-family: "PizzaHeader";
}

html {
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  display: none;
}

body::-webkit-scrollbar-track {
  background: var(--main-white);
  /* border: 1px solid var(--main-black); */
}

body::-webkit-scrollbar-thumb {
  background-color: var(--main-red);
  border-radius: 30px;
}

.btn-danger {
  background-color: var(--main-red);
}

.margin-btn {
  margin-right: 1%;
}

/* Banner */

.banner {
  border-radius: 0;
  height: 10em;
  width: 100%;
  background-image: url("../../images/pizza3.jpg");
  background-position: center;
  background-size: cover;
}

.btn-menu {
  margin-left: 15%;
}

/* Menu lateral */

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: var(--main-red);
  color: var(--main-white);
  overflow-x: hidden;
  padding-top: 6em;
  transition: 0.5s;
}

.sidenav a {
  padding: 0.5em 1.5em;
  text-decoration: none;
  font-size: 1.3em;
  color: var(--main-white);
  display: block;
  transition: 0.3s;
}

.sidenav button {
  padding: 0.5em 1.8em;
  text-decoration: none;
  font-size: 1.3em;
  color: var(--main-white);
  display: block;
  transition: 0.3s;
  width: 100%;
  background-color: var(--main-red);
  border: none;
}

.sidenav .closebutton {
  position: absolute;
  top: 1em;
  right: 0;
  margin-left: 4em;
}

.sidenav a:hover {
  background-color: var(--main-white);
  transition: 0.5s;
  color: var(--main-black);
}

.sidenav button:hover {
  background-color: var(--main-white);
  transition: 0.5s;
  color: var(--main-black);
}

.login-modal:hover {
  color: var(--main-black);
}

.sidenav .menu-items {
  font-size: 1em;
}

.menu-items a:hover {
  background-color: var(--main-white);
}

/* itens do carrinho */

.no-border {
  background-color: var(--main-white);
  border-bottom: none;
}

.bg-white {
  background-color: var(--main-white);
}

.card-body h5 {
  font-size: 1.5em;
}

.card-body span.text-muted {
  font-size: .8em;
}

.card-body p.card-text {
  font-size: 1em;
}

.card-footer {
  background-color: var(--main-white);
}

.card-footer h5 {
  font-size: 1em;
  font-weight: 700;
}

.weight-700 {
  font-weight: 700;
}

.total {
  font-size: 1.2em;
}

.empty-cart {
  height: 30vh;
}

.empty-cart i {
  font-size: 2em;
  margin-bottom: 3%;
}

.empty-cart h5 {
  font-size: 1em;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .card-item {
    font-size: 1.2em;
  }

  .card-item h6 {
    font-size: 1em;
  }

  .card button, a {
    font-size: .8em;
  }

  .align-btn-lt {
    margin-right: 1%;
  }

}

@media (min-width: 1024px) and (max-width: 1439px) {
  /* banner */
  .banner {
    height: 10em;
  }

  .banner button {
    font-size: 1em;
  }

  .banner h5 {
    font-size: 1.5em;
  }

  /* sidenav */

  .logo-sidenav p {
    font-size: 1em;
  }

  .logo-sidenav h6 {
    font-size: 1em;
  }

  .sidenav a {
    font-size: 1em;
  }

  .sidenav button {
    font-size: 1em;
  }

  .btn-flex {
    margin-left: -5%;
  }

  /* conteúdo */

  .card-header {
    font-size: 1.2em;
  }

  .card-header h5 {
    font-size: 1em;
  }

  .card-text {
    font-size: 1em;
  }

  .text-muted {
    font-size: 1em;
  }

  .dropdown-item {
    font-size: 1.5em;
  }

  .card-summary h6 {
    font-size: 1.2em;
  }
  .card-body h5 {
    font-size: 1.2em;
  }
  
  .card-body span.text-muted {
    font-size: .8em;
  }
  
  .card-body p.card-text {
    font-size: 1em;
  }

  .card-footer {
    background-color: var(--main-white);
  }
  
  .card-footer h5 {
    font-size: 1em;
    font-weight: 700;
  }
  
  .weight-700 {
    font-weight: 700;
  }
  
  .total {
    font-size: 1.5em;
  }

  .card-request button {
    font-size: 1em;
  }

  .card-request .card-footer button {
    line-height: 1;
  }

  #request-items .card-header button {
    font-size: .8em;
  }

  #request-items .card-body .card-title {
    font-size: 1.5em;
  }

  #request-items .card-body .card-text {
    font-size: 1.2em;
  }

  #request-items .card-footer h5 {
    font-size: 1.6em;
  }

  #request-items .card-footer p {
    font-size: 1.6em;
  }
  
  .empty-cart {
    height: 30vh;
  }
  
  .empty-cart i {
    font-size: 2em;
    margin-bottom: 3%;
  }
  
  .empty-cart h5 {
    font-size: 1em;
  }


}

@media (min-width: 1440px) and (max-width: 2000px) {
  /* banner */
  .banner {
    height: 15em;
  }

  .banner button {
    font-size: 1em;
  }

  .banner h5 {
    font-size: 2em;
  }

  /* sidenav */

  .logo-sidenav p {
    font-size: 1.2em;
  }

  .logo-sidenav h6 {
    font-size: 1.2em;
  }

  .sidenav a {
    font-size: 1.5em;
  }

  /* menu de categorias */
  .category-menu li a {
    font-size: 1.2em;
  }

  /* conteúdo */

  .btn-filter {
    font-size: 1.2em;
  }

  .subHeader h2 {
    font-size: 2em;
  }

  .card-title {
    font-size: 1.5em;
  }

  .card-text {
    font-size: 1.2em;
  }

  .text-muted {
    font-size: 1.3em;
  }

  .dropdown-item {
    font-size: 1.2em;
  }
  .card-summary h6 {
    font-size: 1.3em;
  }

  #request-items .card-footer h5 {
    font-size: 1.3em;
  }

  #request-items .card-footer p {
    font-size: 1.1em;
  }
}
