@font-face {
  font-family: "PizzaHeader";
  src: url("../fonts/OrderPizza-97J2.ttf") format("truetype");
}

:root {
  --main-black: #0f0e0e;
  --main-white: #ffffff;
  --main-red: #be0f2c;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Asul", sans-serif;
}

.logo-font {
  font-family: "PizzaHeader";
}

html {
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  display: none;
}

body::-webkit-scrollbar-track {
  background: var(--main-white);
  /* border: 1px solid var(--main-black); */
}

body::-webkit-scrollbar-thumb {
  background-color: var(--main-red);
  border-radius: 30px;
}

.btn-danger {
  background-color: var(--main-red);
}

/* Banner */

.banner {
  border-radius: 0;
  height: 10em;
  width: 100%;
  background-image: url("../../images/pizza3.jpg");
  background-position: center;
  background-size: cover;
}

.banner p{
  position: absolute;
  width: 100%;
  text-align: center;
  font-style: italic;
  text-decoration: none;
  font-size: 16px;
  color: var(--main-white);
  font-family:  "Asul", sans-serif;
}
/* Menu lateral */

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: var(--main-red);
  color: var(--main-white);
  overflow-x: hidden;
  padding-top: 6em;
  transition: 0.5s;
}

.sidenav a {
  padding: 0.5em 1.3em;
  text-decoration: none;
  font-size: 1.3em;
  color: var(--main-white);
  display: block;
  transition: 0.3s;
}

.sidenav .closebutton {
  position: absolute;
  top: 1em;
  right: 0;
  margin-left: 4em;
}

.sidenav a:hover {
  background-color: var(--main-white);
  transition: 0.5s;
  color: var(--main-black);
}

.login-modal:hover {
  color: var(--main-black);
}

.sidenav .menu-items {
  font-size: 1em;
}

.menu-items a:hover {
  background-color: var(--main-white);
}

/* Categorias */

.category-menu {
  background-color: var(--main-red);
}

section.category-menu div {
  padding-top: 12%;
}

section.category-menu div h5 {
  font-size: 1em;
  margin-left: 3%;
}

.category-menu li a {
  color: var(--main-white);
}

.category-menu li a:hover {
  background-color: var(--main-white);
  color: var(--main-black);
}

/* Conteúdo */

.content {
  max-width: 100%;
  margin: auto;
}

.categories-general {
  background-color: #ffffffd2;
  display: flex;
  overflow-x: hidden;
  scroll-behavior: smooth;
  position: absolute;
  height: 100%;
  width: 100%;
}

.category-session {
  overflow-y: scroll;
  scroll-behavior: smooth;
  min-width: 100%;
  max-height: fit-content;
}

.category-session::-webkit-scrollbar {
  display: none;
}

.productSub {
  overflow-y: scroll;
}

.productSub::-webkit-scrollbar {
  display: none;
}

.productSub .card {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

@media (min-width: 1024px) and (max-width: 1439px) {
  /* banner */
  .banner {
    height: 10em;
  }

  .banner button {
    font-size: 1em;
  }

  .banner h5 {
    font-size: 1.5em;
  }

  /* sidenav */

  .logo-sidenav p {
    font-size: 1em;
  }

  .logo-sidenav h6 {
    font-size: 1em;
  }

  .sidenav a {
    font-size: 1.2em;
  }

  /* menu de categorias */
  .category-menu li a {
    font-size: 1em;
  }

  /* conteúdo */

  .btn-filter {
    font-size: 1em;
  }

  .card-title {
    font-size: 1.5em;
  }

  .card-text {
    font-size: 1em;
  }

  .text-muted {
    font-size: 1.5em;
  }

  .dropdown-item {
    font-size: 1em;
  }
}

@media (min-width: 1440px) and (max-width: 2000px) {
  /* banner */
  .banner {
    height: 15em;
  }

  .banner button {
    font-size: 1em;
  }

  .banner h5 {
    font-size: 2em;
  }

  /* sidenav */

  .logo-sidenav p {
    font-size: 1.2em;
  }

  .logo-sidenav h6 {
    font-size: 1.2em;
  }

  .sidenav a {
    font-size: 1.5em;
  }

  /* menu de categorias */
  .category-menu li a {
    font-size: 1.2em;
  }

  /* conteúdo */

  .btn-filter {
    font-size: 1.2em;
  }

  .subHeader h2 {
    font-size: 2em;
  }

  .card-title {
    font-size: 1.5em;
  }

  .card-text {
    font-size: 1.2em;
  }

  .text-muted {
    font-size: 1.5em;
  }

  .dropdown-item {
    font-size: 1.2em;
  }
}
