@font-face {
  font-family: "PizzaHeader";
  src: url("../fonts/OrderPizza-97J2.ttf") format("truetype");
}

:root {
  --main-black: #0f0e0e;
  --main-white: #ffffff;
  --main-red: #be0f2c;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Asul", sans-serif;
}

.logo-font {
  font-family: "PizzaHeader";
}

html {
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  display: none;
}

body::-webkit-scrollbar-track {
  background: var(--main-white);
  /* border: 1px solid var(--main-black); */
}

body::-webkit-scrollbar-thumb {
  background-color: var(--main-red);
  border-radius: 30px;
}

.btn-danger {
  background-color: var(--main-red);
}

/* Banner */

.banner {
  background-color: transparent !important;
  border-radius: 0;
  height: 5em;
}

.container .card .card-header {
  background-image: url("../../images/pizza3.jpg");
  background-position: center;
  background-size: cover;
}

/* Menu lateral */

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: var(--main-red);
  overflow-x: hidden;
  padding-top: 6em;
  transition: 0.5s;
}

.sidenav a {
  padding: 0.5em 1.3em;
  text-decoration: none;
  font-size: 1.3em;
  color: var(--main-white);
  display: block;
  transition: 0.3s;
}

.sidenav button {
  padding: 0.5em 1.3em;
  text-decoration: none;
  font-size: 1.3em;
  color: var(--main-white);
  display: block;
  transition: 0.3s;
  width: 100%;
  background-color: var(--main-red);
  border: none;
  margin-left: 2%;
}

.sidenav .closebutton {
  position: absolute;
  top: 1em;
  right: 0;
  margin-left: 4em;
}

.sidenav a:hover {
  background-color: var(--main-white);
  transition: 0.5s;
  color: var(--main-black);
}

.sidenav button:hover {
  background-color: var(--main-white);
  transition: 0.5s;
  color: var(--main-black);
}

.sidenav .menu-items {
  font-size: 1em;
}

.menu-items a:hover {
  background-color: var(--main-white);
}

/* login card */

.card {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.card-header h1 {
  font-weight: 700;
}
